<configuration>
  <appSettings>
    <add key="ClientId" value="f3cc7aca-59c0-410c-932b-609dc33944d0"/>
    <add key="TenantGuid" value="organizations"/>
    <add key="Authority" value="https://login.microsoftonline.com/"/>
    <add key="app:Name" value="MIP File SDK Sample Console App"/>
    <add key="app:Version" value="1.11"/>
  </appSettings>
</configuration>
