<configuration>
  <appSettings>
    <add key="ClientId" value="'Enter the App-ID'"/>
    <add key="TenantGuid" value="organizations"/>
    <add key="Authority" value="https://login.microsoftonline.com/"/>
    <add key="app:Name" value="'Enter the App-Name'"/>
    <add key="app:Version" value="1.11"/>
  </appSettings>
</configuration>
